<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Bienvenue sur la Page d'Accueil Reservé aux Employés</h1>
    <a href="{{ url_for('centre_choix')}}">Accéder aux informations des centres</a> <br>
    <a href="{{ url_for('statistique')}}">Accéder aux nombres d'opérations par espece avec la moyenne d'âge des echantillons de l'espece</a> <br>
    <a href="{{ url_for('action_employe')}}">Ajouter une Information</a><br>
</body>
<footer>
    <nav>
        <a href="{{ url_for('accueil') }}">Accueil</a></li>
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
    </nav>
</footer>
</html>