<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Ordonnance</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Entrer les informations correspondant l'ordonnance à ajouté</h1>
    <form action="/ajouter_ordonnance" method="post">
        <label for="medicament">Medicament prescrit *:</label>
        <input type="text" id="medicament" name="medicament" required>
        <br>
        <br>
        <label for="date">Date de l'Ordonnance de la forme AAAA-MM-JJ *:</label>
        <input type="text" id="date" name="date" required>
        <br>
        <br>
        <label for="id_proprietaire">L'identifiant du propriétaire (Pas son nom) *:</label>
        <input type="text" id="id_proprietaire" name="id_proprietaire" required>
        <br>
        <br>
        <label for="id_animal">L'identifiant de l'animal qui va recevoir les medicaments de l'ordonnance (Pas son nom) *:</label>
        <input type="text" id="id_animal" name="id_animal" required>
        <br>
        <br>
        <input type="submit" value="Valider">
    </form>
</body>
<footer>
    <nav>
        <a href="{{ url_for('accueil') }}">Accueil</a></li>
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
    </nav>
</footer>
</html>