<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choisissez ce que vous voulez ajouter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Choisissez ce que vous voulez ajouter</h1>
    <a href="{{ url_for('ajouter_animal')}}">Ajouter un nouvel animal</a> <br>
    <a href="{{ url_for('ajouter_proprietaire')}}">Ajouter un nouveau proprietaire</a> <br>
    <a href="{{ url_for('ajouter_ordonnance')}}">Ajouter une nouvelle ordonnance</a><br>
    <a href="{{ url_for('ajouter_soin')}}">Ajouter un nouveau soin</a>
</body>
<footer>
    <nav>
        <br>
        <a href="{{ url_for('accueil') }}">Accueil</a></li>
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
    </nav>
</footer>
</html>
