<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Soins et des Ordonnances de vos Animaux</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Liste des Soins</h1>
    {% for elem in soin %} <br>
        <strong>Espece:</strong> {{ elem[0] }}<br>
        <strong>Nom:</strong> {{ elem[1] }}<br>
        <strong>Sexe:</strong> {{ elem[2] }}<br>
        <strong>Date de l'opération:</strong> {{ elem[3] }}<br>
        <strong>Nature de l'opération:</strong>{{ elem[4] }}<br>
    {% endfor %}

    <h1>Liste des Ordonnances</h1>
    {% for elem in ordonnance %} <br>
        <strong>Espece:</strong> {{ elem[0] }}<br>
        <strong>Nom:</strong> {{ elem[1] }}<br>
        <strong>Sexe:</strong> {{ elem[2] }}<br>
        <strong>Médicament prescrit:</strong> {{ elem[3] }}<br>
        <strong>Date de l'ordonnance:</strong> {{ elem[4] }}<br>
    {% endfor %}
</body>
<footer>
    <nav> <br>
        <a href="{{ url_for('accueil') }}">Accueil</a></li>
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
    </nav>
</footer>
</html>