<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer un propriétaire</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Entrer les informations correspondant au propriétaire supprimé</h1>
    <form action="/supprimer_proprietaire" method="post">
        <label for="id_proprio">Identifiant du proprietaire *:</label>
        <input type="text" id="id_proprio" name="id_proprio" required>
        <input type="submit" value="Valider">
    </form>
</body>
<footer>
    <nav>
        <a href="{{ url_for('accueil') }}">Accueil</a></li>
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
    </nav>
</footer>
</html>